{% extends 'base.html' %}

{% block repo_requst_form %}
<div class="row justify-content-center align-items-center">
    <div class="col-4 border rounded m-3 p-3 bg-dark text-white">
        <form method="get">
            <div class="form-group">
                <label for="login" class="center">Find GitHub repositories by login</label>
                <input type="text" id="login" name='github_login' class="form-control mb-3">
                <button type="submit" class="btn btn-success">Search in GitHub</button>
            </div>
        </form>
    </div>
</div> 
{% endblock %}
   

{% block repo_list %}
<div class="row justify-content-center align-items-center">
    <div class="col-4 border rounded m-3 p-3 bg-secondary text-white">
        {% if error %}
        <p>User does not exist on GitHub</p>
        {% else %}
        {{ github_owner.name }}
        <hr>
        <ul class="list-unstyled">
            {% for node in github_owner.nodes %}
                <li><i class="far fa-star"></i> {{ node.stars }} [{{ node.name}}] </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>    
{% endblock %}
